* {
  all: unset;
  border: none;
  border-radius: 0;
  font-family: Terminus;
  font-size: 14px;
  font-weight: normal;
  min-height: 0;
}

window#waybar {
  color: #B8C0E0;
}

#workspaces {
}

#workspaces button {
  transition: none;
  border-bottom: solid 2px #303446;
  color: #B8C0E0;
  padding: 5px 10px;
}

#workspaces button + button {
  margin-left: 1px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  border-bottom: solid 2px #F5C2E7;
  color: #F5C2E7;
}

#workspaces button.urgent {
  background-color: #FB9FB1;
  color: #2E3440;
}

#window {
}

/* ------------------------------ */

#mode,
#temperature,
#disk,
#cpu,
#memory,
#clock,
#custom-tr,
#custom-pulseaudio {
  padding: 5px 0;
  margin: 0 10px;
  border-bottom: solid 2px #303446;
}

/* ------------------------------ */

#mode {
  background-color: #303446;
  border-bottom: solid 2px #F5C2E7;
  color: #F5C2E7;
}

#temperature {
}

#temperature.critical {
  border-bottom: solid 2px #F5C2E7;
}

#disk {
}

#cpu {
}

#cpu.warning {
  border-bottom: solid 2px #F5C2E7;
}

#cpu.critical {
  border-bottom: solid 2px #E78284;
}

#memory {
}

#memory.warning {
  border-bottom: solid 2px #F5C2E7;
}

#memory.critical {
  border-bottom: solid 2px #E78284;
}

#clock {
}

#custom-tr {
}

#custom-tr.done {
  border-bottom: solid 2px #F5C2E7;
}

#custom-pulseaudio {
}

#custom-pulseaudio.mute {
  border-bottom: solid 2px #F4B8E4;
}

/* ------------------------------ */

/*
#mpd {
  color: #b2dfdb;
}

#mpd.disconnected {
  color: #FB9FB1;
}

#mpd.stopped {
  color: #FB9FB1;
}

#mpd.paused {
  color: #FB9FB1;
}
*/
