* {
  all: unset;
  border: none;
  border-radius: 0;
  font-family: "Terminus";
  font-size: 14px;
  font-weight: normal;
}

window#waybar {
}

window#waybar.hidden {
  /* opacity: 0.2; */
}

#workspaces {
}

#workspaces button {
  transition: none;
  background-color: #FB9FB1;
  color: #2E3440;
  padding: 6px 12px;
}

#workspaces button + button {
  margin-left: 1px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  background-color: #F0719B;
  color: #2E3440;
}

#workspaces button.urgent {
  background-color: #F0719B;
  color: #2E3440;
}

#clock {
  background-color: #FB9FB1;
  color: #2E3440;
  margin-left: 1px;
  padding: 6px 12px;
}

#mode {
  background-color: #F0719B;
  color: #2E3440;
  margin-left: 1px;
  padding: 6px 12px;
}

#custom-volume {
  background-color: #FB9FB1;
  color: #2E3440;
  margin-left: 1px;
  padding: 6px 12px;
}

#custom-tr {
  background-color: #FB9FB1;
  color: #2E3440;
  margin-left: 1px;
  padding: 6px 12px;
}

#custom-tr.done {
  background-color: #ed80a5;
}

#temperature {
  background-color: #FB9FB1;
  color: #2E3440;
  margin-left: 1px;
  padding: 6px 12px;
}

#temperature.critical {
  background-color: #F0719B;
}

/*
#mpd {
  color: #b2dfdb;
}

#mpd.disconnected {
  color: #FB9FB1;
}

#mpd.stopped {
  color: #FB9FB1;
}

#mpd.paused {
  color: #FB9FB1;
}
*/
